*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    perspective: 8px;   
    perspective-origin: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    
}

img{

    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    transform: 0 50%;


}

.arbol{
    height: auto;
    width: 100%;
    transform: translateZ(5px) scale(.8);


}
            
.img_middle{
    height: 100%;
    width: 100%;
    transform: translateZ(5px) scale(.7);
    transform-origin: 0 50%;
    
}
.card {
    background-color: white;
    border-radius: 8px;
    width: 80px;
    height: 100px;
    position: absolute;
    transform: rotate(-20px);
}
.card-one{
    background-color: bisque;
    border: 1  ;
}
.card-two{}
.card-three{}


.foreground{

    transform: translateZ(2px) scale(0.75);
    transform-origin: top;


}
